.box {
  width: 100px;
  height: 100px;
  position: absolute;
}

.box-top-left {
  background-color: lightgreen;
  top: 0;
  left: 0;
  animation: my-top-left 4s forwards;
}
.box-top-right {
  background-color: lightblue;
  top: 0;
  right: 0;
  animation: my-top-right 4s forwards;
}
.box-bottom-right {
  background-color: lightcoral;
  bottom: 0;
  right: 0;
  animation: my-bottom-right 4s forwards;
}

.box-bottom-left {
  background-color: lightgoldenrodyellow;
  bottom: 0;
  left: 0;
  animation: my-bottom-left 4s forwards;
}

@keyframes my-top-left {
  to {
    top: 50%;
    left: 50%;
    border-radius: 0 0 100px 0;
    background-color: black;
  }
}

@keyframes my-top-right {
  to {
    top: 50%;
    right: 50%;
    border-radius: 0 0 0 100px;
    background-color: black;
  }
}

@keyframes my-bottom-right {
  to {
    bottom: 50%;
    right: 50%;
    border-radius: 100px 0 0 0;
    background-color: black;
  }
}

@keyframes my-bottom-left {
  to {
    bottom: 50%;
    left: 50%;
    border-radius: 0 100px 0 0;
    background-color: black;
  }
}
